<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="detail-box">
        <div class="heading_container">
          <h2>
            About Us
          </h2>
          <img src="images/plug.png" alt="">
        </div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
          enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
          in reprehenderit in voluptate velit
        </p>
        <a href="">
          Read More
        </a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="img_container">
        <div class="img-box b1">
          <img src="images/about-img1.jpg" alt="" />
        </div>
        <div class="img-box b2">
          <img src="images/about-img2.jpg" alt="" />
        </div>
      </div>

    </div>

  </div>
</div>